body{
    margin:0px;
    padding: 0px;
    background:linear-gradient(120deg,white,rgb(60, 204, 229));
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;         
}
.clearfix{
    clear: both;
}
.logo{
    margin: 0px;
    margin-left: 15px;
    font-weight: bold;
    color: brown;
    margin-bottom: 30px;
}
.sidenav{
    height:100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color:rgb(100, 159, 212);
    overflow: hidden;
    transition:0.5s;
    padding-top: 30px;    
}
.sidenav a{
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    color: #f1f1f1;
    background-color: #1b203d;    
}
#main{
    transition: margin-left .5s;
    padding:16px;
    margin-left: 300px;
    
}
.head{
    padding:20px;    
}
.col-div-6{
    width:50%;
    float: left;    
}
.profile{
    display:inline-block;
    float:right;
    width: 160px;
}
.pro-img{
    float: left;
    width:40px;
    margin-top:5px;
}
.profile p{
    color: #080F71;
    font-weight: 500;
    margin-left: 55px;
    margin-top:5px;
    font-size: 16px;
    
}
.nav{
    display: none;
}
.box{
    width: auto;
    height: 100px;
    background-color:greenyellow;
    margin-left: 10px;
    padding: 10px;
}
.box marquee{
    font-size: 35px;
    color: #080F71;
    font-weight: bold;
    line-height: 30px;
    padding-top: 25px;
}