<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>

     <link rel="stylesheet" href="css/style.css">

</head>
<body>

  <div class="center">
    <h1><img src="css/logo3.png" class="logo"></h1>
    <form action="signup" method="POST" >
        <div class="text-field">
            <input type="text" required placeholder="Enter username" name="username">
        </div>
        <div class="text-field">
            <input type="email" required placeholder="Enter email" name="email">
        </div>
        <div class="text-field">
            <input type="password" required placeholder="Enter password" name="password">
        </div>

        <input type="submit" value="sign-up" >

        <div class="signup_link">
            Do you have an account already?<a href="login">sign-in</a>
        </div>
    </form>

  </div>

</body>
</html>
